body {
	background-image: url("../img/860734.jpg");
}
.text12 {
	color:white;
}
.text21 {
	color:white;
}
.formreg {
	margin: 150px;
}
.cart {
	margin: 150px;
}
.cart2 {
	margin-top :100px;
	margin-left :150px;
}
.table1 {
	margin:100px;
}